.parallax-background {
	width: 100%;
	opacity: 0.65;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Desktop Only */
@media (min-width: 768px) {
	.parallax-background {
		background-attachment: fixed;
	}
}

/* Mobile Only */
@media screen and (max-width: 768px) {
	.parallax-background {
		background-attachment: scroll;
	}
}